*.pyc
*.aux
*.bbl
*.blg
*.DS_Store
*.dSYM
*.dvi
*.log
*.o
*.out
*.pdf
*.pdfsync
*.pyc
*.synctex.gz
*.zip
*.temp
*.bcf
*.fdb_latexmk
*.fls
*.run.xml
*blx.bib
results
runs
.ipynb_checkpoints
results_toreport
.vscode
